.button {
    color: #fff;
    font-family: 'Poppins';
    font-size: 17px;
    font-weight: 450;
    letter-spacing: 1.7px;
    padding: 14px 22px;
    text-transform: uppercase;
    text-align: center;
}

.section-button {
    background-color: #d4967d;
}

.section-button:hover {
    background: #deae9a;
}

.resource-button a {
    background-color: #A7A992;
}

.resource-button a:hover {
    background-color: #cacbbd;
}