.who-we-are,
.approach {
    display: grid;
    padding: 40px 160px;
    gap: 60px;
}

.who-we-are {
    grid-template-columns: 500px 1fr;
}

.approach {
    background: var(--color-3);
    grid-template-columns: 1fr 500px;
}

.who-we-are h2 {
    color: var(--color-4);
}

.approach h2,
.approach .main-font {
    color: var(--color-0);
}

.approach .highlight-font {
    color: var(--color-4);
}

.about-us-img img {
    width: 500px;
    margin: 100px 50px;
    border-radius: 30px;
}

.img-btn-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 820px) {
    .who-we-are,
    .approach {
        grid-template-columns: 1fr 1fr;
        padding: 40px 30px;
        gap: 20px;
    }

    .about-us-img img {
        width: 300px;
    }
}

@media screen and (max-width: 420px) {

    .who-we-are,
    .approach {
        grid-template-columns: 1fr;
        padding: 40px 40px;
    }

    .who-we-are {
        padding-bottom: 50px;
    }

    .who-we-are h2,
    .approach h2 {
        text-align: center;
    }

    .approach {
        padding-top: 100px;
    }

    .about-us-img img {
        margin: 10px auto 50px auto;
    }
}