.main-content {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    min-width: 0; /* Fix Safari shrinking issues */
    justify-content: center;
    gap: 30px;
    padding: 30px 0;
}

.topic-resource {
    display: block;
    width: 300px;
    background: #fbe9de;
    justify-items: center;
    padding: 10px;
    text-decoration: none;
    color: inherit;
    border-radius: 10px;
}

.topic-resource h3 {
    text-align: center;
}

.topic-resource p {
    text-align: center;
}

.topic-resource:hover {
    background: #f6c8ae;
}

#icon {
    width: 40px;
}