/* General Styles */
body {
    font-family: 'Libre Baskerville';
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f9f9f9;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a,
img,
button {
    cursor: pointer
}

.web-bg-img {
    background: url('../../../public/assets/Website_background.png');
}
.web-bg {
    background-color: var(--color-3);
}