/* General Styles */
body {
    font-family: 'Libre Baskerville';
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f9f9f9;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a,
img,
button {
    cursor: pointer
}

.web-bg {
    background: url('../../../public/assets/Website_background.png') no-repeat center center/cover;
}

:root {
    --main-color: #3f4a49;
    --highlight-color: #ac785d;
    --highlight-color-2: #f0d6cc;
    --green-cl-bg: #7F8563;
}