/* Header */
header {
    border-width: 20px 50px 20px 50px;
    border-style: solid;
    border-color: #DCD9D0;
    font-weight: 500;
}

#header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.logo img {
    width: 130px;
    cursor: pointer;
}

.navBar {
    display: flex;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
    gap: 30px;
    padding-right: 15em;
    position: relative;
}

.navBar li {
    display: inline;
}

.navBar a {
    color: rgb(63, 74, 73);
    text-decoration: none;
    font-size: 1.4rem;
    padding: 5px 10px;
    transition: border-bottom 0.5s ease-in-out;
    border-bottom: 1px solid transparent;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 140px;
    top: 40px;
    background-color: #fff;
    min-width: 150px;
    list-style: none;
    padding: 20px 5px;
    text-align: left;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

/* Show dropdown when the parent is active */
.show {
    opacity: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    visibility: visible;
}

.navBar a:hover {
    border-bottom: 1px solid rgb(63, 74, 73);
}

.navBar li a.active {
    border-bottom: 1px solid rgb(63, 74, 73);
}

.burger {
    display: none;
}

#title {
    color: rgb(63, 74, 73);
    margin: 0px 0 60px 100px;
    font-weight: 400;
}

.highlight {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 30%, #f2c6b0 70%);
}

@media screen and (max-width: 820px) {
    header {
        padding-bottom: 100px;
    }

    .navBar {
        display: none;
    }

    .navBar.active {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 50px;
        left: 0;
        background: white;
        text-align: center;
        padding: 100px 0;
    }

    .navBar.active a {
        font-size: 2rem;
    }

    .burger {
        display: block;
        margin: 50px 50px 0 0;
    }

    .bar {
        width: 30px;
        height: 1px;
        background: hsl(174.54545455, 8.02919708%, 26.8627451%);
        margin: 6px 0;
        transition: 0.3s;
    }

    .change .bar1 {
        transform: translate(0, 10px) rotate(-45deg);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        transform: translate(0, -5px) rotate(45deg);
    }

    #title {
        margin: 0px;
        justify-content: center;
    }
}

@media screen and (max-width: 420px) {
    header {
        padding-bottom: 50px;
    }

    span.highlight {
        font-size: 2.5rem;
    }
}