.button {
    background-position: 0px 0px;
    color: #fff;
    font-family: 'Poppins';
    font-size: 17px;
    font-weight: 450;
    text-decoration: none;
    letter-spacing: 1.7px;
    padding: 13.6px 22.712px;
    text-transform: uppercase;
    cursor: pointer;
}

.section-button {
    background-color: #d4967d;
}

.section-button:hover {
    background: #deae9a;
}

.resource-button a {
    background-color: #A7A992;
}

.resource-button a:hover {
    background-color: #cacbbd;
}