/* Footer */
footer {
    background-color: #7F8563;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.footer-content {
    display: grid;
    grid-template-columns: 420px 1fr;
    margin: 20px auto 50px auto;
}

.footer-content h3 {
    color: #fff;
    font-size: 45px;
    line-height: 50px;
}

.social-media {
    display: flex;
    gap: 15px;
    margin: 0 0 15px 15px;
}

.social-media a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.social-media a:hover {
    color: #ffcc29;
}

.divLinks {
    display: flex;
    justify-content: center;
    text-align: left;
    gap: 70px;
}

.quick-links p{
    font-weight: bold;
    
}

.LinkDiv {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.LinkDiv a {
    margin-top: 5px;
    display: inline-block;
    color: #f0d6cc;
    font-size: 24px;
    line-height: 30px;
    /* text-align: left; */
    text-decoration: underline 1px;
    text-underline-offset: 5px;
    cursor: pointer;
}

footer p {
    color: #fff;
    display: inline;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
}

@media screen and (max-width: 420px) {
    .footer-content {
        grid-template-columns: 1fr;
    }

    .footer-content h3 {
        font-size: 2rem;
    }

    .social-media {
        justify-content: center;
    }
}