/* General Styles */
body {
    font-family: 'Libre Baskerville';
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f9f9f9;
}

/* Libre Baskerville = Adonis Web */
/* Poppins = Europa  */
/* Great Vibes = Kristi */