  /* Main Content */
  /* Welcome Section */
  main {
      max-width: 100%;
      margin: 0px auto;
  }

  .welcome {
      background: url('../../../public/assets/Website_background.png') no-repeat center center/cover;
      height: 400px;
      text-align: center;
  }

  #intro-title {
      font-size: 2rem;
      padding-top: 60px;
      margin-bottom: 10px;
      margin-top: 0px;
  }

  #intro-text {
      color: #ac785d;
      font-family: 'adonis-web';
      font-size: 28.4744px;
      line-height: 33.2125px;
      margin: 0px 0px 34px;
  }

  #resource-text {
      color: #3f4a49;
      font-family: 'europa';
      font-size: 23.5568px;
      line-height: 30.6238px;
      margin: 17px 0px;
      padding-bottom: 40px;
  }

  #submit-resource {
      background-color: #d4967d;
  }

  #submit-resource:hover {
      background: #deae9a;
  }

  /* Resources Section (circles) */
  .resources {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      background: #DCD9D0;
      padding-top: 50px;
      justify-content: center;
  }

  .resource-item {
      font-family: 'adonis-web';
      width: 300px;
      height: 100%;
      text-align: center;
      justify-items: center;
      margin-bottom: 40px;
  }

  #circle {
      width: 300px;
      padding: 0 15px;
  }

  .resource-item h3 {
      color: #825a4a;
      font-family: 'adonis-web';
      font-size: 28.4744px;
      line-height: 33.2125px;
  }

  .resource-item a {
      background-color: #A7A992;
  }

  .resource-item a:hover {
      background-color: #cacbbd;
  }

  @media screen and (max-width: 820px) {
      .welcome {
          padding: 0 20px;
      }
  }

  @media screen and (max-width: 420px) {
      .welcome {
          height: 100%;
          padding-bottom: 60px;
      }
  }