  /* Main Content */
  /* Welcome Section */
  main {
      padding: 40px 20px;
      max-width: 100%;
      margin: 0 auto;
  }

  .welcome {
      margin-bottom: 100px;
      text-align: center;
  }

  #intro-title {
      font-size: 2rem;
      margin-bottom: 10px;
  }

  #intro-text {
      color: #ac785d;
      font-family: 'adonis-web';
      font-size: 28.4744px;
      line-height: 33.2125px;
      margin: 0px 0px 34px;
  }

  #resource-text {
      color: #3f4a49;
      font-family: 'europa';
      font-size: 23.5568px;
      line-height: 30.6238px;
      margin: 17px 0px;
      padding-bottom: 40px;
  }

  #submit-resource {
      background-color: #d4967d;
  }

  #submit-resource:hover {
      background: #deae9a;
  }

  /* Resources Section (circles) */
  .resources {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      justify-content: center;
  }

  .resource-item {
      font-family: 'adonis-web';
      width: 300px;
      height: 100%;
      text-align: center;
      justify-items: center;
      margin-bottom: 40px;
  }

  #circle {
      width: 200px;
      height: 200px;
      border: 1px solid black;
      border-radius: 50%;
      padding: 0 15px;
      margin-bottom: 20px;
  }

  .resource-item h3 {
      color: #825a4a;
      font-family: 'adonis-web';
      font-size: 28.4744px;
      line-height: 33.2125px;
  }

  .resource-item a {
      background-color: #A7A992;
  }

  .resource-item a:hover {
      background-color: #cacbbd;
  }

  /* .resource-item:hover {
      transform: translateY(-5px);
  } */